.mainContainer {
  font-family: "Roboto";
  width: 50vw;
  height: 80vh;
  margin: 50px auto;
  box-shadow: black;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding-top: 30px;
}

placeholder {
  margin: 0px;
  padding: 0px;
  font-weight: bolder;
}

label {
  font-weight: bolder;
  color: rgba(55,71,79 ,1);
  padding-bottom: 5px;
}

input {
  margin-bottom: 20px;
  background-color: rgba(207, 216, 220, 1);
  width: 360px;
  height: 40px;

  border: 0px;
  outline: 0px;
  border-radius: 3px;
  padding-left: 10px;
}

button {
  width: 360px;
  height: 40px;
  font-weight: 600;
  border: none;
  background-color: rgba(33,150,243 ,1);
  color: white;
  font-size: 18px;
}
input::placeholder {
  font-weight: bolder;
}

select {
  background-color: rgba(207, 216, 220, 1);
  border-radius: 3px;
  width: 360px;
  height: 40px;
  margin-bottom: 20px;
}